* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: #1b263b;
    --secondary-color: #415a77;
    --text--color: #778da9;
    --box-shadow-color: #0d1b2a;
    --hover-color: rgb(148, 148, 149);
    --transition-all--300: all 300ms ease-in-out;
    --name-font-size: 1.8rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --p-font-size: 1.7rem;
    --p-line-height: 1.4;
    --menu-font-size: 1.155rem;
    --link-font-size: 1.3rem;
    --link-font-size-l: 2rem;
    --padding-content: 0.5rem;
    --footer-color: #1b263b;
}
/* menu dark mode button starts here */
.button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.change__language__button {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}
.change__language__button {
    padding: 1rem 1rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    transition: all 300ms ease-in-out;
}
.change__language__button:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px solid black;
    font-weight: 400;
    box-shadow: 2px 2px 7px var(--box-shadow-color);
}
.button__container button.menu__button {
    padding: 1rem 1rem;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    background-color: #ffffff;
}
.dark__mode__icon {
    width: 40px;
}
body {
    background-color: white;
    color: black;
    transition: background-color 600ms, color 600ms;
}

.menu__button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}
/* Dark mode styles */
body.dark-mode {
    /* background-color: #161514; */
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e0dada85, #d5e6e599);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e0dada85, #d5e6e599); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

/* body.dark-mode .menu__button {
    background-color: white;
    color: black;
} */

body.dark-mode .dark__mode__icon {
    filter: invert(1);
    /* Invert colors for the icon in dark mode */
}

/* menu dark mode button ends here */

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */

header.header {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    opacity: 90%;
}

header.header div.logo h3.name {
    font-size: var(--name-font-size);
    margin-top: 6rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
}

.h1,
.h2,
.paragraph {
    color: var(--secondary-color);
    margin: 0.5rem 0;
    font-size: 10rem;
}

.h1 {
    font-size: var(--h1-font-size);

}

.h2 {
    font-size: var(--h2-font-size);
}

/* paragraphs */
.paragraph {
    font-size: var(--p-font-size);
    /* padding: var(--padding-content); */
}

/* paragraphs */
.link {
    /* display: block; */
    font-size: var(--link-font-size);
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0.5rem 0;
    text-decoration: none;
    transition: var(--transition-all--300);
}

.link-l {
    font-size: var(--link-font-size-l);
}

.link:hover {
    color: var(--main-color);
    font-weight: 900;
}

.layout {
    width: 85%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

.header .logo {
    display: flex;
    flex-grow: 2;
    color: var(--secondary-color);
}

.header .logo span {
    display: block;
    font-size: 10rem;
    font-weight: bolder;
    margin: auto 0;
    transition: var(--transition-all--300);
}

.header .logo span:hover {
    color: var(--hover-color);
}

.header .logo h3 {
    display: block;
    flex-basis: 3rem;
    margin: auto 0;
    margin-top: 3.5rem;
    margin-left: 0.5rem;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.header nav {
    flex-grow: 1;
}

.header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 13rem;
    /* gap: 1rem; */
}

.header li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header li a {
    font-size: var(--menu-font-size);
    color: var(--text--color);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.header a:hover {
    color: var(--hover-color);
}

.content {
    min-height: 55rem;
}

.header .active {
    color: var(--hover-color);
    font-size: 1.8rem;
}

.footer {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /*  min-height: 15rem; */
    /* line-height: 10rem; */
    text-align: center;
    /* margin-top: 3.5rem; */
    /* padding-top: 2.5rem; */
    border-top: 0.2rem solid black;
    background: var(--footer-color);
    gap: 3rem;
    min-height: 15rem;
    line-height: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

.footer__icons__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
}

.footer__icons {
    font-size: 3rem;
    color: var(--secondary-color);
    color: white;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.footer__icons.instagram {
    color: rgb(233, 140, 155);
}

.footer__icons.whatsapp {
    color: rgb(9, 234, 9);
}

.footer__icons:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

footer.footer p {
    font-size: 2rem;
    color: white;
}

.footer__email {
    text-decoration: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.footer__email:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding: 0.3rem;
    color: #778da9;
}

/* home layout starts here */
.home-page {
    max-width: 1400px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;

}

.home-page h1 {
    color: var(--secondary-color);
    margin: 3rem 0;
}

.home-page h2 {
    font-size: 5rem;
    color: var(--secondary-color);
}

.home-page p {
    font-size: 3rem;
    margin: 1rem 0;
}

.home-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    gap: 7rem;
    /* border: 1px solid var(--secondary-color); */
    padding: 0 5rem;
    /* padding-top: 0;
    padding-bottom: 0; */
    /* box-shadow: 2px 2px 3px var(--box-shadow-color); */
    color: white;
}

.home-page-links a {
    font-size: 3rem;
    color: var(--main-color);
    border: 1px solid var(--secondary-color);
    padding: 3rem;
    box-shadow: 2px 2px 3px var(--box-shadow-color);
    font-weight: bolder;
    text-decoration: none;
    transition: var(--transition-all--300);
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}

.home-page-links a:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
    color: white;
    padding: 3rem;
    box-shadow: var(--box-shadow-color);
    border-radius: 1rem;
}

.text-centered {
    text-align: center;
}

h2.home__subtitle {
    font-size: 4.7rem;
    color: red;
}

h1.home__title {
    font-size: 6rem;
    text-align: center;
}

h2.home__subtitle--2 span {
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 0.5rem;
}

span {
    font-size: 5rem;
}

.home__title strong.span-black-color span {
    font-size: 8rem;
    font-weight: bolder;
    color: black;
}

p.text-centered span {
    font-size: 3.7rem;
    color: var(--secondary-color);
}

/* a.home__links {
    font-size: 3rem;
    text-decoration: underline;
} */

/* home layout ends here */

/* portfolio starts here */
.portfolio-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.article {
    flex-basis: 25%;
    margin-bottom: 2rem;
}

.mask {
    overflow: hidden;
}

.page-work .mask {
    width: 1200px;
    overflow: hidden;
}

/* .page-work.mask.img.work-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  } */
.img {
    width: 300px;
    transition: all 400ms ease-in-out;
    border-radius: 0.3rem;

}

.img:hover {
    transform: scale(1.1);

}

/* portfolio ends here */


/* services page starts here */
/* blog might be added to .services, .blog__news */
.services {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 3rem;
}

h1.h1 {
    margin-bottom: 0;
}

.service {
    padding: 2rem;
    /* border: 1px solid grey; */
    border-radius: 0.5rem;
    /* box-shadow: 2px 3px 3px grey; */
}

section.services article.service h2.h2,
h2.blog__subtitle {
    /* font-size: var(--p-font-size); */
    font-size: var(--h2-font-size);
    /*  width: 25rem; */

}

div.page section.services h1.h1 {
    width: 100%;
    text-align: start;
    padding: 2rem;
}

.service__1 {
    flex-basis: 100%;
}

.service__2 {
    flex-basis: 100%;
}

.service__3 {
    flex-basis: 100%;
    padding-top: 0;
}

.service__4 {
    flex-basis: 100%;
}

.service__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    margin: 0 auto;
}

.services__logo {
    width: 3rem;
}

.services__image__container {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 auto;
    padding: 3rem;
}

.services__image {
    width: 30%;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    margin-top: 2rem;
}

.services__ul {
    padding: 3rem;
    padding-bottom: 0;
}

p.paragraph {
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
}

/* services page ends here */
/* faq starts here */
.faq__container {
    display: block;
    margin: 0 auto;
    text-align: start;
    padding: 3rem;
    padding-top: 3rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.faq__title {
    font-size: var(--h1-font-size);
    text-align: start;
}
.faq__subtitle {
    font-size: var(--h2-font-size);
    text-align: start;
    margin-bottom: 1rem;
}
.faq__content {
    font-size: var(--p-font-size);
    text-align: start;
    color: #ffffff;
    line-height: 1.4;
    font-weight: 600;
}
.faq__section__contaier {
    padding: 1.5rem 3rem;
    width: 100%;
}
/* faq ends here */
/* contact starts here */
.links__container {
    /* max-width: 1400px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centers the containers horizontally */
    gap: 1rem;
    /* Adds space between the containers */
    padding: 10rem;
    padding-top: 6rem;

}

.link__container {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    padding: 10rem;
    background-color: var(--text--color);
    border-radius: 1rem;
}

.link__title {
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
}

.contact__icons {
    font-size: 10rem;
    transition: all 300ms ease-in-out;
}

.contact__icons:hover {
    transform: scale(1.5);
}

.contact__icons.instagram {
    color: rgb(233, 140, 155);

}

.contact__icons.whatsapp {
    color: rgb(9, 234, 9);
}

.contact__icons.email {
    color: rgb(185, 184, 184);
}

/* contact ends here */


/* responsive design starts here */

@media screen and (width <=1289px) {
    .services__image {
        width: 25rem;
    }

    .links__container {
        padding: 10rem;
        padding-top: 6rem;

    }

    /* .link__title {
        text-align: center;
        font-size: 3rem;
        color: var(--secondary-color);
    } */
    .contact__icons {
        font-size: 8rem;
    }
}

@media screen and (width <=1096px) {
    .services__image {
        width: 20rem;
    }

    .links__container {
        padding: 0;
        padding-top: 6rem;

    }

    /* .link__title {
        text-align: center;
        font-size: 3rem;
        color: var(--secondary-color);
    } */
    .contact__icons {
        font-size: 8rem;
    }
}

@media screen and (width <=769px) {

    header.header div.logo span img {
        width: 6rem;
    }

    header.header div.logo h3.name {
        font-size: 1.5rem;
    }

    .header li a {
        font-size: 1rem;
    }

    /* home layout starts here */
    h2.home__subtitle {
        font-size: 2rem;
    }

    h1.home__title span,
    h2.home__subtitle--2 span {
        font-size: 3rem;
    }

    .home__title strong.span-black-color span {
        font-size: 5rem;
    }

    p.text-centered {
        font-size: 2rem;
    }

    a.home__links {
        font-size: 2rem;
    }

    .content {
        min-height: 20rem;
    }

    /* home layout ends here */

    /* services page starts here */
    article.service {
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 1rem;
    }

    .services__image__container {
        gap: 1rem;
        margin: 0 auto;
        padding: 1rem;
    }

    .services__image {
        width: 16rem;
        margin-top: 1rem;
    }

    .services__ul {
        padding: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* services page ends here */
    /* footer starts here */
    footer.footer {
        max-height: 15rem;
        line-height: 1rem;
        margin-top: 5rem;
        padding-top: 1rem;
        gap: 1.5rem;
    }

    footer.footer p {
        font-size: 1.5rem;
        color: white;
    }
}

@media screen and (width <=632px) {
    .links__container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        padding-top: 6rem;
    }

    .link__container {
        padding: 3rem;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    .link__title {
        font-size: 2rem;
    }

    .contact__icons {
        font-size: 5rem;
    }
}

@media screen and (width <=588px) {

    h1.home__title span,
    h2.home__subtitle--2 span {
        font-size: 2rem;
        padding: 0;
    }

    .home-page h2 {
        font-size: 3rem;
    }

    .home-page h1 {
        margin: 1rem 0;
    }

    .home__title strong.span-black-color span {
        font-size: 4rem;
    }

    p.text-centered span {
        font-size: 1.7rem;
    }

    footer.footer p {
        font-size: 1.2rem;
        color: white;
    }

    .footer__icons__container {
        gap: 1.2rem;
        padding: 0;
    }
}

/* footer ends here */
@media screen and (width <=487px) {

    /* header starts here */
    .header {
        min-width: 30px;
        height: 8rem;
        margin-bottom: 1rem;
    }

    .header .logo {
        display: flex;
        flex-grow: 2;
    }

    /* .header .logo span {
        display: none;
    } */
    header.header div.logo h3.name {
        display: none;
    }

    /*  .header .logo h3 {
        font-size: 1rem;
        margin-top: 1.5rem;
        display: none;
    } */

    .header nav {
        flex-grow: 1;
    }

    .header nav ul {
        height: 13rem;
    }

    .header li {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    /* header ends here */
    .services__image {
        width: 11rem;
        margin-top: 1rem;
        padding: 0;
    }

    /* .services__image.middle__image {
        width: 100%;
        opacity: 70%;
    } */
    .services__ul {
        padding: 3rem;
    }

    footer.footer {
        margin-top: 0;
    }

    .footer__icons__container {
        gap: 1.2rem;
        padding: 0;
    }
}

/* footer starts here */
/* .footer {
    min-height: 15rem;
    line-height: 5rem;
    margin-top: 2rem;
    padding-top: 1rem;
    gap: 2rem;
} */

@media screen and (width <=430px) {
    h1.home__title span {
        font-size: 3.7rem;
        padding: 0;
    }

    .home-page h2 {
        font-size: 1rem;
    }

    /* .home-page h1 { 
        margin: 1rem 0;
    } */
    .home__title strong.span-black-color span {
        font-size: 4.5rem;
    }

    p.text-centered span {
        font-size: 1.7rem;
    }

    h1.home__title {
        font-size: 2rem;
        text-align: center;
    }

    h1.h1 {
        display: none;
    }

    .home-page-links {
        padding: 2rem;
        margin-top: 0;
        margin-bottom: 0;
        /* background-color: var(--footer-color); */
    }

    div a.home__links {
        font-size: 1.4rem;
        padding: 2rem 3.5rem;
        margin-top: 2rem;
    }

    header.header div.logo span {
        display: block;
    }

    header.header div.logo span img {
        width: 5rem;
        margin-bottom: 1rem;
    }

    article.service {
        padding: 0;
    }

    div.portfolio-container img {
        width: 40rem;
    }

    .link {
        font-size: 1.6rem;
    }

    h3.paragraph {
        font-size: 1.2rem;
    }

    .services__image {
        width: 10rem;
    }

    .services__ul {
        padding: 1.5rem;
    }

    .links__container {
        padding: 0;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    .link__title {
        display: block;
        margin-top: 3rem;
    }

    .link__container {
        padding: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        flex-basis: 100%;
    }

    .contact__icons {
        font-size: 8rem;
        padding: 2.6rem;
    }

    .mask {
        border: 1px solid rgba(128, 128, 128, 0.273);
        border-radius: 1rem;
        box-shadow: 1px 1px 100px rgba(128, 128, 128, 0.346);
    }

    footer.footer {
        margin-top: 3rem;
    }
}

@media screen and (width <=394px) {
    h2.home__subtitle {
        font-size: 1.5rem;
    }

    .home__title span {
        line-height: 4rem;
    }

    p.text-centered {
        line-height: 2.6rem;
    }

    a.home__links {
        font-size: 1.1rem;
    }

    .services__image__container {
        gap: 2rem;
        margin: 0 auto;
        padding: 0.5rem;
    }

    section.services article.service h2.h2 {
        font-size: 1.5rem;
        margin-top: -1.7rem;
    }

    .service__content {
        display: block;
    }

    .services__logo {
        width: 2.3rem;
        margin-bottom: 0.3rem;
    }

    div.page section.services h1.h1 {
        display: none;
    }

    p.paragraph {
        font-size: 1.5rem;
    }

    .services__image__container {
        margin-bottom: 1.5rem;
    }

    .services__image {
        width: 9rem;
    }

    .services__ul {
        padding: 2rem;
    }

    .services__ul li {
        text-wrap: pretty;
        margin-bottom: 1.5rem;
    }

    div.portfolio-container img {
        width: 35rem;
    }

    .footer {
        min-height: 5rem;
        line-height: 5rem;
        gap: 1.5rem;
    }

    ul.nav li a {
        font-size: 1rem;
    }

}

@media screen and (width <=333px) {
    div.portfolio-container img {
        width: 30rem;
    }

    .services__image {
        width: 7rem;
    }

    .links__container {
        padding: 0;
        margin-top: 3rem;
    }

    .link__title {
        display: block;
    }

    .link__container {
        padding: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        flex-basis: 100%;
    }

    .contact__icons {
        font-size: 6rem;
        padding: 1rem;
    }

    footer.footer {
        margin-top: 4rem;
    }
}

/* responsive design ends here */